{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheeklu Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/try.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1>Shah Vishwa</h1>
        <p class="port">PORTFOLIO</p>
      </div>
      <div class="container">
        <div class="main">
          <div class="try">
            <div class="box">
              <img src="{% static 'images/01.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/04.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/07.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/010.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/013.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/016.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/019.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/022.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/025.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/028.jpg' %}" alt="" />
            </div>
          </div>
          <div class="try">
            <div class="box">
              <img src="{% static 'images/02.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/05.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/08.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/011.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/014.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/017.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/020.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/023.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/026.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/029.jpg' %}" alt="" />
            </div>
          </div>
          <div class="try">
            <div class="box">
              <img src="{% static 'images/03.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/06.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/09.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/012.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/015.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/018.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/021.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/024.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/027.jpg' %}" alt="" />
            </div>
            <div class="box">
              <img src="{% static 'images/030.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="mainmobile">
          <div class="box">
            <img src="{% static 'images/01.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/02.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/03.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/04.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/05.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/06.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/07.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/08.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/09.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/010.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/011.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/012.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/013.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/014.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/015.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/016.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/017.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/018.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/019.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/020.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/021.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/022.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/023.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/024.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/025.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/026.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/027.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/028.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/029.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/030.jpg' %}" alt="" />
          </div>
        </div>
        <div class="btnhead">
            <h3>Tap to Connect</h3>
        </div>
        <div class="btns">
          <a href="tel:+91 7990923092"><button class="btn"><img src="{% static 'images/telephone.png' %}" alt="" /><span>CALL</span></button></a>
         
        </div>
      </div>
    </div>
  </body>
</html>
